.icon-background {
	z-index: -1;
	opacity: 0.3;
	position: absolute;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.icon-background * {
	width: 25%;
	position: absolute;
	animation: light-floating 3s ease-in-out infinite;
}

/*************************/
/*animations*/
/*************************/

.icon-background *:nth-of-type(odd) {
	animation: light-floating 4s ease-in-out infinite alternate;
}

.icon-background *:nth-of-type(3n) {
	animation: light-floating 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate;
}

[data-theme="dark"].icon-background * {
	animation: floating 3s ease-in-out infinite;
}

[data-theme="dark"].icon-background *:nth-of-type(odd) {
	animation: floating 4s ease-in-out infinite alternate;
}

[data-theme="dark"].icon-background *:nth-of-type(3n) {
	animation: floating 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate;
}

@keyframes floating {
	0%,
	100% {
		transform: translateY(0);
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
	}
	50% {
		transform: translateY(-0.5rem);
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
	}
}

@keyframes light-floating {
	0%,
	100% {
		transform: translateY(0);
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
	}
	50% {
		transform: translateY(-0.5rem);
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
	}
}

/*************************/
/* positions */
/*************************/

.icon-background > *:nth-of-type(1) {
	color: darkorange;
	left: 20px;
	bottom: 20px;
}

.icon-background > *:nth-of-type(2) {
	color: mediumslateblue;
	right: 20px;
	bottom: 150px;
}

.icon-background > *:nth-of-type(3) {
	color: lightgreen;
	right: -50px;
	top: 23%;
}

.icon-background > *:nth-of-type(4) {
	color: lightseagreen;
	right: 50%;
	top: 25%;
}

.icon-background > *:nth-of-type(5) {
	color: seagreen;
	left: 50%;
	bottom: 30%;
}

.icon-background > *:nth-of-type(6) {
	color: hotpink;
	left: 60%;
	bottom: 5%;
}

.icon-background > *:nth-of-type(7) {
	color: indianred;
	top: 2%;
	right: 50px;
}

.icon-background > *:nth-of-type(8) {
	color: cornflowerblue;
	top: 2%;
	left: -5%;
}

.icon-background > *:nth-of-type(9) {
	color: darkorange;
	bottom: 57%;
	left: -9%;
}

.icon-background > *:nth-of-type(10) {
	color: cornflowerblue;
	left: -6%;
	top: 75%;
}

.icon-background > *:nth-of-type(11) {
	color: indianred;
	right: 10%;
	top: 40%;
}

.icon-background > *:nth-of-type(12) {
	color: lightseagreen;
	right: 45%;
	bottom: 17%;
}

.icon-background > *:nth-of-type(13) {
	color: hotpink;
	left: 45%;
	top: 25%;
}

.icon-background > *:nth-of-type(14) {
	color: darkorange;
	bottom: 33%;
	left: 17%;
}

.icon-background > *:nth-of-type(15) {
	color: hotpink;
	right: -6%;
	top: 50%;
}

.icon-background > *:nth-of-type(16) {
	color: darkorange;
	right: 18%;
	top: 14%;
}

.icon-background > *:nth-of-type(17) {
	color: lightseagreen;
	left: 8%;
	top: 20%;
}

.icon-background > *:nth-of-type(18) {
	color: hotpink;
	left: 3%;
	top: 45%;
}

.icon-background > *:nth-of-type(19) {
	color: orangered;
	left: 30%;
	top: 10%;
}
